/* orders.css */

.left-content {
    text-align: left;
}

.receipt-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

.bold {
    font-weight: bold;
}

.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Add padding as needed */
  }