<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>NOZAMA</h1>
    <h4>Sweet deals. All the time.</h4>
    <form id="orderForm">
        <label for="product_name">Product Name:</label><br>
        <select id="product_name" name="product_name" required onchange="updateProductDetails()">
            {% for product in result.products %}
                <option value="{{ product.product_name }}">{{ product.product_name }}</option>
            {% endfor %}
        </select><br>

        <p>Price: <span id="productPrice"></span></p>
        <img class= "product-image" id="productImage" src="" alt="Product Image">
        <p><span id="productDescription"></span></p>

        <div class="form-row">
            <div class="form-group">
                <label for="quantity-group">Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" required>
            </div>
        
            <div class="form-group customer-name-group">
                <label for="customer_name">Customer Name:</label>
                <input type="text" id="customer_name" name="customer_name" required>
            </div>
        </div>

        <label for="street_address">Street Address:</label><br>
        <input type="text" id="street_address" name="street_address" required><br>

        <div class="form-row">
            <div class="form-group">
                <label for="state">State:</label>
                <select id="state" name="state" required>
                    {% for state in states %}
                        <option value="{{ state }}">{{ state }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="form-group">
                <label for="zip_code">Zip Code:</label>
                <input type="number" id="zip_code" name="zip_code" required>
            </div>
        </div>

        <input type="submit" value="Submit">
    </form>
    
    <script>
        function updateProductDetails() {
            var selectedProductName = document.getElementById('product_name').value;
            
            fetch(`http://127.0.0.1:5000/get_product?product_name=${encodeURIComponent(selectedProductName)}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Product not found');
                    }
                    return response.json();
                })
                .then(product => {
                    document.getElementById('productPrice').textContent = product.price;
                    document.getElementById('productImage').src = product.image;
                    document.getElementById('productImage').alt = product.product_name;
                    document.getElementById('productDescription').textContent = product.description; // New line to update description
                })
                .catch(error => console.error('Error:', error));
        }
    
        // Call updateProductDetails when the page loads and when the product selection changes
        document.addEventListener('DOMContentLoaded', updateProductDetails);
        document.getElementById('product_name').addEventListener('change', updateProductDetails);
    </script>


    <script>
        document.getElementById("orderForm").addEventListener("submit", function(event){
            event.preventDefault();

            let formData = {
                product_name: document.getElementById("product_name").value,
                quantity: document.getElementById("quantity").value,
                customer_name: document.getElementById("customer_name").value,
                street_address: document.getElementById("street_address").value,
                state: document.getElementById("state").value,
                zip_code: document.getElementById("zip_code").value
            };

            fetch('http://127.0.0.1:5000/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                if(data.order_id) {
                    console.log('Order ID', data.order_id);
                    window.location.href = `/orders/${data.order_id}`;  // Redirect to the order page
                } else {
                    // Handle the case where order_id is not returned
                    alert("Order creation failed!");
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>